body{
	background: url('../imagenes/fondo_b.jpg');
	color:#333;
}

@font-face {
	font-family: 'MuseoSans-500';
	src: url('webfonts/24B1E9_0_0.eot');
	src: url('webfonts/24B1E9_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/24B1E9_0_0.woff') format('woff'),url('webfonts/24B1E9_0_0.ttf') format('truetype');
}

.container {
	width: 1000px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

header {
	background: #dd4814;
	height: 63px;
	border-bottom: 1px solid #5b5b5b;
	margin-bottom: 0px;
}

	header .select-menu { 
		display: none; 
	}
	
	header nav { 
		position: relative;
	}
	
	header nav ul {
		list-style: none;
		float: right;
		padding: 22px 0px 0px 0px;
	}
	
	header nav ul li {
		float: left;
		margin-left: 30px;
		position: relative;
	}
	
	header nav ul li a{
		color: #fff;
		text-shadow: black 0.1em 0.1em 0.2em;
		font-size: 14px;
		text-decoration: none;
			font-size: 12px;
	}
	
	header nav ul li a:hover { 
		color: #white; 
		font-weight: bold;
	}	

	header aside ul{
		padding-top:0px;
	}

ul.logo{
	list-style:none;
	float:left;
}	

ul.logo li{
	float:left;
	margin-left: 200px;
}

ul.logo li a{
	width:294px;
	height:63px;
	display:block;
	background:url('../imagenes/logo.png') no-repeat top left;
}


/*
 *************************************
 * Menu de las categorias y navegacion.
 *************************************
 */
#second_menu{
    margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12px;
	-moz-box-shadow:0px 1px 3px #000;
	-webkit-box-shadow:0px 1px 5px #000;
	box-shadow:0px 1px 5px #000;
	list-style: none;
	}

	#second_menu ul{
    	margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
	}

	#second_menu li{
    	float: left;
    	width:20%;
	}

	#second_menu li a{
		color: white;
	}
	
	#second_menu li a{
    	text-decoration: none;
    	color: #333;
    	background: #fff;
		display: block;
		padding: 8px 10px 8px 10px;
		text-align: center;
		border-top: 1px solid #ccc;
		border-bottom: 4px solid #ccc;
	}
	
	#second_menu li a.selected, #second_menu li a:hover{
		color: white;
    	background: #dd4814;
		text-decoration: underline;
	}

/*
 *************************************
 * Menu del lado derecho.
 *************************************
 */
section {

}
 
section #side_left {
	float: left;
	width: 200px;
	text-align: right;
	padding-right: 10px;
}
	
section #side_left .head_menu {
	text-align: center;
	padding-right: 10px;
	background: #FFF;
	color: #5E6569;
	padding: 7px 0 7px 0;
	margin-bottom: 8px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-bottom: 4px solid #ccc;
	font-size: 12px;
}
	
section #side_left .body {
	background-color: white;
	text-align: left;
	padding: 10px 10px 10px 25px;
}

	section #side_left .body ul, a{
		list-style-image:url('../imagenes/naran.png');
		text-decoration: none;
	}
	
	section #side_left .body a{
		color: #333;
		font-size: 12px;
	}

	section #side_left .body a:hover{
		text-decoration: underline;
	}


	section #side_left .widget {
		margin-bottom: 20px;
	}	

/*
 *************************************
 * Contenedor principal.
 *************************************
 */	
section #main_container {
	float: right;
	width: 749px;
	padding: 10px 20px 0px 20px;
	position: relative;
	text-align: justify;
	background-color: white;
}

	#last_items{
		float: left;
		width: 100%;
	}

	#item_left{
		width: 50%;
		float: left;
	}

	#item_right{
		width: 50%;
		float: left;
	}

	.item_head{
		color: white;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		background: #dd4814;
		padding: 8px 0 8px 0;
		float: left;
		width: 100%;
		border-top: 1px solid #ccc;
		border-bottom: 4px solid #ccc;
		font-size: 12px;
	}

	.item_body{
		float: left;
		width:100%;
		background: white;
	}

	.item_foot{
		border-top: 1px solid orange;
		width: 100%;
		float: right;
		background: white;
		margin-bottom: 20px;
		font-size: 12px;
		background-color: #ccc;
	}

		.item_foot .price{
			width: 33%;
			text-align: center;
			float:left;
			font-weight: bold;
		}

		.item_foot .car{
			width: 33%;
			text-align: center;
			float:right;
		}

		.item_foot .details a{
			color: black;
			width: 33%;
			float:left;
			text-align: center;
			font-weight: bold;
			text-decoration: underline;
		}
	
		.item_foot .details a:hover{
			width: 33%;
			float:left;
			color: black;
			text-align: center;
			font-weight: bold;
			text-decoration: none;
		}

footer {
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	border-bottom: 1px dotted #dd4814;
	border-top: 1px dotted #dd4814;
}
	
	footer p {
		color: #000;
		font-size: 11px;
		padding: 4px 8px 4px 8px;
		display: inline;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	footer p:hover {
		background: #f1f1f1;
		color: #999;
	}

.limpiar{
	clear: both;
	margin-bottom: 20px;
}

input[type="text"], input[type="password"]
{	
	background:#FFF;
	border-radius:8px;
	border: 1px solid black;
	padding: 2px 3px 2px 4px;
	box-shadow: 1px 1px 6px black;
}


*:focus {
	outline: none;
}